{% extends "base.html" %}
{% load i18n %}
{% block body %}
<body style="margin-top: 20px; margin-left: 20px; margin-right: 20px;">
<header>
    <table style="width: 720px;">
        <tr>
            <td rowspan="1" colspan="1">
                <img src="/static/easybuggy.png" class="bounceInRight animated"/>
            </td>
            <td rowspan="1" colspan="1"><span class="glyphicon glyphicon-warning-sign"></span>
                <span>{% trans 'description.all' %}</span>
            </td>
        </tr>
    </table>
</header>
<hr/>

<h2>
    <span class="glyphicon glyphicon-knight"></span>
    <span>{% trans 'section.troubles' %}</span>
</h2>
<p>{% trans 'description.troubles' %}</p>
<ul>
    <li><p><a href="{% url 'easybuggy:infiniteloop' %}" target="_blank" shape="rect">
        {% trans 'function.name.infinite.loop' %}</a>:
        <span>{% trans 'function.description.infinite.loop' %}</span>
    </p></li>
    <li><p><a href="{% url 'easybuggy:redirectloop' %}" target="_blank" shape="rect">
        {% trans 'function.name.redirect.loop' %}</a>:
        <span>{% trans 'function.description.redirect.loop' %}</span>
    </p></li>
</ul>


<h2>
    <span class="glyphicon glyphicon-knight"></span>
    <span>{% trans 'section.vulnerabilities' %}</span>
</h2>
<p>{% trans 'description.vulnerabilities' %}</p>
<ul>
    <li><p><a href="{% url 'easybuggy:xss' %}" shape="rect">
        {% trans 'function.name.xss' %}</a>:
        <span>{% trans 'function.description.xss' %}</span></p></li>
</ul>

<hr/>
<footer>
    <img src="/static/easybuggyL.png"/>Copyright &copy; 2018 T246 OSS Lab, all rights reserved.<br/><br/>
</footer>
</body>
{% endblock %}
