{% extends "base.html" %}
{% load i18n %}
{% block body %}
{% include "header.html" %}
    <label>{% trans 'label.process.memory.info' %}</label>
    <table class="table table-striped table-bordered table-hover" style="font-size: small;">
        <tr>
            <th>PID</th>
            <th>Cmdline</th>
            <th>USS</th>
            {% if pss %}<th>PSS</th>{% endif %}
            {% if swap %}<th>Swap</th>{% endif %}
            <th>RES</th>
        </tr>
        <tr>
            <td>{{ pid }}</td>
            <td>{{ info }}</td>
            <td>{{ uss }}<br />({{ pcnt_uss }} %)</td>
            {% if pss %}<td>{{ pss }}<br />({{ pcnt_pss }} %)</td>{% endif %}
            {% if swap %}<td>{{ swap }}</td>{% endif %}
            <td>{{ rss }}<br />({{ pcnt_rss }} %)</td>
        </tr>
    </table>
{% include "messages.html" %}
{% endblock %}
