{% extends "base.html" %}
{% load i18n %}
{% block body %}
{% include "header.html" %}
{% if file_path %}
<img src="/{{ file_path }}"/><br/><br/>
{% include "messages.html" %}
<input type="button" onClick='history.back();' value="{% trans 'label.history.back' %}"/><br/>
{% else %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>{% trans 'msg.reverse.color' %}<p/>
    <input type="file" name="file" size="60"/>
    <p>{% trans 'msg.select.upload.file' %}<p/>
    <input type="submit" value="{% trans 'label.upload' %}"/>
</form>
<br/>
{% include "messages.html" %}
{% endif %}
{% endblock %}
