{% extends "base.html" %}
{% load i18n %}
{% block body %}
<body style="margin-left: 20px; margin-right: 20px;">
{% include "header.html" %}
	<form action="" method="post" enctype="application/x-www-form-urlencoded">
        {% csrf_token %}
		<p>{% trans 'description.reverse.string' %}</p><br />
		<label>{% trans 'label.string' %}</label><span>: </span>
			<input type="text" name="string" size="100" maxlength="100" /><br />
			<br /> <input type="submit" value="{% trans 'label.submit' %}" /><br /><br />
			<p>{{ msg }}</p><br />
		<div class="alert alert-info" role="alert">
			<span class="glyphicon glyphicon-info-sign"></span>
             {% trans 'msg.note.xss' %}
		</div>
	</form>
</body>
{% endblock %}